{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="about page-template-default page page-id-2 woocommerce-no-js">

    <div id="page_caption" class="hasbg parallax baseline ">
        <div class="parallax_overlay_header"></div>
            <div id="bg_regular" style="background-image:url('/static/upload/abreakey-raw-foodphotography-squid-still-life.jpg');"></div>
            <div class="page_title_wrapper baseline" data-stellar-ratio="1.3">
                <div class="page_title_inner baseline">
                    <h1 class="withtopbar">
                         <span class="ppb_title_first" >More</span>
                        About Us
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="ppb_wrapper hasbg withtopbar">
        <div class="one ppb_card_two_cols_with_image" style="position:relative;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div class="one_half parallax_scroll" style="width:40%;position:absolute;left:90px;padding:50px;z-index:2;block!important;background:#ffffff;" data-stellar-ratio="1.3">
                            <h2 class="ppb_title"><span class="ppb_title_first" >Our</span>Philosophy</h2>
                            <div class="page_header_sep left"></div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
                            <p><span style="font-family:Kristi;font-size:40px;font-weight:600;">John Phillipe</span>
                        </div>
                        <div class="one_half parallax_scroll_image last" style="width:65%;">
                            <div class="image_classic_frame expand">
                                <div class="image_wrapper">
                                    <a href="upload/about.jpg" class="img_frame"><img src="{%static 'upload/about.jpg'%}" class="portfolio_img" alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <br class="clear" />
                    </div>
                </div>
            </div>
        </div>
        <div class="one ppb_card_two_cols_with_image" style="position:relative;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div class="one_half parallax_scroll_image" style="width:65%;">
                            <div class="image_classic_frame expand">
                                <div class="image_wrapper">
                                    <a href="upload/food_grid.png" class="img_frame"><img src="{% static 'upload/food_grid.png'%}" class="portfolio_img" alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="one_half last parallax_scroll" style="width:40%;position:absolute;right:90px;padding:50px;background:#ffffff;" data-stellar-ratio="1.3">
                            <h2 class="ppb_title"><span class="ppb_title_first" >Dining</span>Experience</h2>
                            <div class="ppb_subtitle">Ultimate Dining Experience like no other. Our modern fusion cuisine</div>
                            <div class="page_header_sep left"></div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                        <br class="clear" />
                    </div>
                </div>
            </div>
        </div>
        <div class="divider one">&nbsp;</div>
        <div class="one withsmallpadding withbg " style="color:#ffffff;background-image:url('/static/upload/stacks_image_2681.jpg');background-size:cover;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper" style="text-align:center">
                    <div class="inner">
                        <div class="testimonial_slider_wrapper">
                            <div class="flexslider" data-height="750">
                                <ul class="slides">
                                    <li>
                                        <div class="testimonial_slider_wrapper">
                                            <div class="testimonial_stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>Vivamus aliquet felis eu diam ultricies congue. Morbi porta lorem nec consectetur porta. Sed quis dui elit. Pellentesque habitant morbi tristique senectus et netus et male Sed vestibulum orci
                                            <div class="testimonial_slider_meta">
                                                <div class="testimonial_image animated" data-animation="bigEntrance"><img class="team_pic" src="{% static 'upload/shutterstock_116468653-150x150.jpg' %}" alt="Mark Anthony" /></div><span class="post_detail" style="color:#ffffff">Mark Anthony</span></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="testimonial_slider_wrapper">
                                            <div class="testimonial_stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vestibulum orci quam. Pellentesque habitant morbi tristique senectus et netus et male.
                                            <div class="testimonial_slider_meta">
                                                <div class="testimonial_image animated" data-animation="bigEntrance"><img class="team_pic" src="{% static 'upload/4724100046_657f15fd44_b-150x150.jpg' %}" alt="Christina Hardy" /></div><span class="post_detail" style="color:#ffffff">Christina Hardy</span></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="testimonial_slider_wrapper">
                                            <div class="testimonial_stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Pellentesque habitant morbi tristique senectus et netus et male.
                                            <div class="testimonial_slider_meta">
                                                <div class="testimonial_image animated" data-animation="bigEntrance"><img class="team_pic" src="{% static 'upload/chief-150x150.jpg' %}" alt="Jane Bennett" /></div><span class="post_detail" style="color:#ffffff">Jane Bennett</span></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one withsmallpadding ppb_header " style="padding-bottom: 0 !important;text-align:center;padding:30px 0 30px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%%;">
                            <h2 class="ppb_title" style=""><span class="ppb_title_first" >Restaurant</span>Branches</h2>
                            <div class="page_header_sep center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_fourth withsmallpadding ppb_text" style="padding:30px 0 30px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">
                                <p><strong>GRAND RESTAURANT PARAGON</strong>
                                    <br /> 732/21 Second Street, Manchester
                                    <br />King Street, Kingston United Kingdom</p>
                                <p>1.800.456.6743
                                    <br />
                                    <a href="https://www.google.co.th/maps/dir/51.511989,-0.0926872/EAT+-+King+William,+85+King+William+Street,+London+EC4N+7BL/@51.511989,-0.118136,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x487603538044e19b:0x6617a1ea0a45367c!2m2!1d-0.088016!2d51.51242"><i class="fa fa-map-marker"></i> Get Directions</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_fourth withsmallpadding ppb_text" style="padding:30px 0 30px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">
                                <p><strong>GRAND RESTAURANT CENTER</strong>
                                    <br /> 78/31 Third Street, LiverPool
                                    <br />King Street, Kingston United Kingdom</p>
                                <p>1.800.456.6756
                                    <br />
                                    <a href="https://www.google.co.th/maps/dir/51.511989,-0.0926872/EAT+-+King+William,+85+King+William+Street,+London+EC4N+7BL/@51.511989,-0.118136,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x487603538044e19b:0x6617a1ea0a45367c!2m2!1d-0.088016!2d51.51242"><i class="fa fa-map-marker"></i> Get Directions</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_fourth withsmallpadding ppb_text" style="padding:30px 0 30px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">
                                <p><strong>GRAND RESTAURANT ZEN</strong>
                                    <br /> 78/31 Third Street, LiverPool
                                    <br />King Street, Kingston United Kingdom</p>
                                <p>1.800.456.6756
                                    <br />
                                    <a href="https://www.google.co.th/maps/dir/51.511989,-0.0926872/EAT+-+King+William,+85+King+William+Street,+London+EC4N+7BL/@51.511989,-0.118136,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x487603538044e19b:0x6617a1ea0a45367c!2m2!1d-0.088016!2d51.51242"><i class="fa fa-map-marker"></i> Get Directions</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_fourth last withsmallpadding ppb_text" style="padding:30px 0 30px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">
                                <p><strong>GRAND RESTAURANT CENTER</strong>
                                    <br /> 78/31 Third Street, LiverPool
                                    <br />King Street, Kingston United Kingdom</p>
                                <p>1.800.456.6756
                                    <br />
                                    <a href="https://www.google.co.th/maps/dir/51.511989,-0.0926872/EAT+-+King+William,+85+King+William+Street,+London+EC4N+7BL/@51.511989,-0.118136,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x487603538044e19b:0x6617a1ea0a45367c!2m2!1d-0.088016!2d51.51242"><i class="fa fa-map-marker"></i> Get Directions</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax title" data-image="{% static 'upload/Mistral-Restaurant-Amy-Roth-Photo.jpg'%}" data-width="1440" data-height="958" data-content-height="60">
            <div class="parallax_title">
                <h2 class="ppb_title"><span class="ppb_title_first" >Make</span>Reservation</h2></div>
        </div>
        <div class="one withsmallpadding ppb_text" style="padding-top: 30px !important;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%;text-align:center;">
                            <p>Reservation Form Powered by OpenTable
                                <br />1.800.456.6743 – contact@grandrestaurant.com</p>
                            <p>
                                <form name="open_table_form" id="open_table_form" target="_blank" method="POST" action="https://secure.opentable.com/ism/interim.aspx">
                                    <input type="hidden" name="RestaurantID" value="100342">
                                    <input type="hidden" name="txtDateFormat" value="MM/dd/yyyy">
                                    <div class="open_table_field">
                                        <label for="startDate" class="hidden"><i class="fa fa-calendar"></i></label>
                                        <input type="text" class="pp_date required_field" id="startDate" name="startDate" value="10/03/2019" />
                                    </div>
                                    <div class="open_table_field">
                                        <label for="ResTime" class="hidden"><i class="fa fa-clock-o"></i></label>
                                        <input type="text" class="pp_time required_field" id="ResTime" name="ResTime" value="06:00 PM" />
                                    </div>
                                    <div class="open_table_field">
                                        <label for="PartySize" class="hidden"><i class="fa fa-user"></i></label>
                                        <select id="PartySize" name="PartySize" class="required_field">
                                            <option value="1">1 person</option>
                                            <option value="2">2 people</option>
                                            <option value="3">3 people</option>
                                            <option value="4">4 people</option>
                                            <option value="5">5 people</option>
                                            <option value="6">6 people</option>
                                            <option value="7">7 people</option>
                                            <option value="8">8 people</option>
                                            <option value="9">9 people</option>
                                            <option value="10">10 people</option>
                                            <option value="11">11 people</option>
                                            <option value="12">12 people</option>
                                            <option value="13">13 people</option>
                                            <option value="14">14 people</option>
                                            <option value="15">15 people</option>
                                            <option value="16">16 people</option>
                                            <option value="17">17 people</option>
                                            <option value="18">18 people</option>
                                            <option value="19">19 people</option>
                                            <option value="20">20+ people</option>
                                        </select>
                                    </div>
                                    <br class="clear" />
                                    <input id="open_table_submit" type="submit" class="" value="Find a table" />
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}