{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="home page-template-default page page-id-2 woocommerce-no-js">
    <div id="page_caption" class="hasbg parallax baseline ">
        <div class="parallax_overlay_header"></div>
        <div id="bg_regular"
             style="background-image:url('/static/upload/abreakey-raw-foodphotography-squid-still-life.jpg');"></div>

        <div class="page_title_wrapper baseline" data-stellar-ratio="1.3">
            <div class="page_title_inner baseline">
                <h1 class="withtopbar">
                    <span class="ppb_title_first">Our</span>Contact </h1>
            </div>
        </div>
    </div>


    <div class="ppb_wrapper hasbg withtopbar">
        <div class="one withsmallpadding ppb_text"
             style="text-align:center;padding-bottom: 0px !important;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:60%">
                            </p>
                            <div style="font-size:30px;text-transform:uppercase;letter-spacing:-1px;font-weight:300;">
                                Until I discovered cooking I was never really interested in anything
                            </div>
                            <p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one withsmallpadding ppb_text"
             style="padding-top: 0 !important;text-align:center;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:80%">
                            <p>Fringilla penatibus orci est non mollit, suspendisse pulvinar egestas a donec. Vulputate
                                mi dui suscipit, molestie vulputate libero fusce iaculis suscipit. Sapien pede libero.
                                Maecenas lacus aliquet et nisl nunc, per sed sed maecenas.Lectus tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one" style="padding-bottom: 100px !important;position:relative;padding:30px 0 30px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div class="one_half parallax_scroll_image" style="width:70%;">
                            <div class="image_classic_frame expand">
                                <div class="image_wrapper">
                                    <a href="upload/3250_1a_c_photography_restaurants___food_port_13_2.jpg"
                                       class="img_frame"><img
                                            src="{% static 'upload/3250_1a_c_photography_restaurants___food_port_13_2.jpg'%}"
                                            class="portfolio_img" alt=""/></a>
                                </div>
                            </div>
                        </div>
                        <div class="one_half last parallax_scroll"
                             style="width:40%;position:absolute;right:90px;background:#ffffff;padding:30px;"
                             data-stellar-ratio="1.3">
                            <h2 class="ppb_title">Contacts</h2>
                            <div class="page_header_sep left"></div>
                            1.800.456.6743 &#8211; contact@grandrestaurant.com
                            <br/>
                            <strong>For booking, please use reservation form (on the top right)</strong>
                            <div id="reponse_msg_1570105835359928382" class="contact_form_response">
                                <ul></ul>
                            </div>
                            <form class="quform" action="plugins/quform/process.php" method="post"
                                  enctype="multipart/form-data" onclick="">

                                <div class="quform-elements">
                                    <div class="quform-element">

                                        <br>
                                        <span class="wpcf7-form-control-wrap your-name">
                                                    <input id="name" type="text" name="name" size="40" class="input1"
                                                           aria-required="true" aria-invalid="false"
                                                           placeholder="Name*">
                                                </span>

                                    </div>
                                    <div class="quform-element">

                                        <br>
                                        <span class="wpcf7-form-control-wrap your-email">
                                                    <input id="email" type="text" name="email" size="40" class="input1"
                                                           aria-required="true" aria-invalid="false"
                                                           placeholder="Email*">
                                                </span>

                                    </div>
                                    <div class="quform-element">

                                        <br>
                                        <span class="wpcf7-form-control-wrap your-message">
                                                    <textarea id="message" name="message" cols="40" rows="10"
                                                              class="input1" aria-invalid="false"
                                                              placeholder="Message*"></textarea>
                                                </span>

                                    </div>

                                    <!-- Begin Submit button -->
                                    <div class="quform-submit">
                                        <div class="quform-submit-inner">
                                            <button type="submit" class="submit-button"><span>Send</span></button>
                                        </div>
                                        <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <br class="clear"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="one withsmallpadding ppb_header "
             style="padding-bottom: 0 !important;text-align:center;padding:40px 0 40px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%;">
                            <h2 class="ppb_title" style=""><span class="ppb_title_first">Our</span>Branches</h2>
                            <div class="page_header_sep center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_fourth withsmallpadding ppb_text"
                 style="padding-top: 10px !important;padding:30px 0 30px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">
                                <p><strong>GRAND RESTAURANT PARAGON</strong>
                                    <br/> 732/21 Second Street, Manchester
                                    <br/>King Street, Kingston United Kingdom</p>
                                <p>1.800.456.6743
                                    <br/>
                                    <a href="https://www.google.co.th/maps/dir/51.511989,-0.0926872/EAT+-+King+William,+85+King+William+Street,+London+EC4N+7BL/@51.511989,-0.118136,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x487603538044e19b:0x6617a1ea0a45367c!2m2!1d-0.088016!2d51.51242"><i
                                            class="fa fa-map-marker"></i> Get Directions</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_fourth withsmallpadding ppb_text"
                 style="padding-top: 10px !important;padding:30px 0 30px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">
                                <p><strong>GRAND RESTAURANT CENTER</strong>
                                    <br/> 78/31 Third Street, LiverPool
                                    <br/>King Street, Kingston United Kingdom</p>
                                <p>1.800.456.6756
                                    <br/>
                                    <a href="https://www.google.co.th/maps/dir/51.511989,-0.0926872/EAT+-+King+William,+85+King+William+Street,+London+EC4N+7BL/@51.511989,-0.118136,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x487603538044e19b:0x6617a1ea0a45367c!2m2!1d-0.088016!2d51.51242"><i
                                            class="fa fa-map-marker"></i> Get Directions</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_fourth withsmallpadding ppb_text"
                 style="padding-top: 10px !important;padding:30px 0 30px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">
                                <p><strong>GRAND RESTAURANT ZEN</strong>
                                    <br/> 78/31 Third Street, LiverPool
                                    <br/>King Street, Kingston United Kingdom</p>
                                <p>1.800.456.6756
                                    <br/>
                                    <a href="https://www.google.co.th/maps/dir/51.511989,-0.0926872/EAT+-+King+William,+85+King+William+Street,+London+EC4N+7BL/@51.511989,-0.118136,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x487603538044e19b:0x6617a1ea0a45367c!2m2!1d-0.088016!2d51.51242"><i
                                            class="fa fa-map-marker"></i> Get Directions</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_fourth last withsmallpadding ppb_text"
                 style="padding-top: 10px !important;padding:30px 0 30px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">
                                <p><strong>GRAND RESTAURANT CENTER</strong>
                                    <br/> 78/31 Third Street, LiverPool
                                    <br/>King Street, Kingston United Kingdom</p>
                                <p>1.800.456.6756
                                    <br/>
                                    <a href="https://www.google.co.th/maps/dir/51.511989,-0.0926872/EAT+-+King+William,+85+King+William+Street,+London+EC4N+7BL/@51.511989,-0.118136,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x487603538044e19b:0x6617a1ea0a45367c!2m2!1d-0.088016!2d51.51242"><i
                                            class="fa fa-map-marker"></i> Get Directions</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider one">&nbsp;</div>
    </div>

</div>
{% endblock %}