{% load static %}
<div class="footer_bar ">
    <div id="footer_before_widget_text">
    </div>
    <div id="footer" class="">
        <ul class="sidebar_widget four">
            <li id="text-13" class="widget widget_text">
                <div class="textwidget">
                    <p>
                        <img src="{% static 'upload/logo@2x_white.png'%}" alt="" width="101" height="34"/>
                    </p>
                    <p>
                        Dolor church-key veniam, fap Bushwick mumblecore irure Vice consectetur 3 wolf moon sapiente
                        literally quinoa. <br/>
                    </p>
                    <div class="social_wrapper shortcode dark ">
                        <ul>
                            <li class="facebook"><a target="_blank" title="Facebook" href="#"><i
                                    class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a target="_blank" title="Twitter" href="http://twitter.com/#"><i
                                    class="fa fa-twitter"></i></a></li>
                            <li class="youtube"><a target="_blank" title="Youtube" href="#"><i
                                    class="fa fa-youtube"></i></a></li>
                            <li class="pinterest"><a target="_blank" title="Pinterest" href="http://pinterest.com/#"><i
                                    class="fa fa-pinterest"></i></a></li>
                            <li class="instagram"><a target="_blank" title="Instagram" href="http://instagram.com/#"><i
                                    class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li id="custom_recent_posts-2" class="widget Custom_Recent_Posts">
                <h2 class="widgettitle">Recent Posts</h2>
                <ul class="posts blog ">
                    <li><a href="#">Black Spaghetti with Rock Shrimp</a>
                        <div class="post_attribute">
                            April 20, 2015
                        </div>
                    </li>
                    <li><a href="#">Cooking Food With Love</a>
                        <div class="post_attribute">
                            April 18, 2015
                        </div>
                    </li>
                    <li><a href="#">Modern Fusion Cuisine</a>
                        <div class="post_attribute">
                            April 17, 2015
                        </div>
                    </li>
                </ul>
            </li>
            <li id="custom_flickr-9" class="widget Custom_Flickr">
                <h2 class="widgettitle">Gallery On Flickr</h2>
                <ul class="flickr">
                    <li>
                        <a class="img_frame" target="_blank" href="upload/47015511494_a45979912a_b.jpg"
                           title="roasted rhubarb with yogurt, mint, pistachio"><img
                                src="{% static 'upload/47015511494_a45979912a_s.jpg'%}"
                                alt="roasted rhubarb with yogurt, mint, pistachio" width="75" height="75"/></a>
                    </li>
                    <li>
                        <a class="img_frame" target="_blank" href="upload/46968818334_b4bb23dc19_b.jpg"
                           title="radish pod and tomato salad"><img
                                src="{% static 'upload/46968818334_b4bb23dc19_s.jpg'%}"
                                alt="radish pod and tomato salad" width="75" height="75"/></a>
                    </li>
                    <li>
                        <a class="img_frame" target="_blank" href="upload/40747094363_16c3b23b2f_b.jpg"
                           title="macarons and tea"><img src="{% static 'upload/40747094363_16c3b23b2f_s.jpg'%}"
                                                         alt="macarons and tea" width="75" height="75"/></a>
                    </li>
                    <li>
                        <a class="img_frame" target="_blank" href="upload/33827445818_dac37b2303_b.jpg"
                           title="macaron- commercial &amp; editorial"><img
                                src="{% static 'upload/33827445818_dac37b2303_s.jpg'%}"
                                alt="macaron- commercial &amp; editorial" width="75" height="75"/></a>
                    </li>
                    <li>
                        <a class="img_frame" target="_blank" href="upload/40713766323_618893a490_b.jpg"
                           title="tomato with (thick) soy sauce, sugar and grated ginger"><img
                                src="{% static 'upload/40713766323_618893a490_s.jpg'%}"
                                alt="tomato with (thick) soy sauce, sugar and grated ginger" width="75"
                                height="75"/></a>
                    </li>
                    <li>
                        <a class="img_frame" target="_blank" href="upload/46721156475_f02fc75334_b.jpg"
                           title="summer corn soup"><img src="{% static 'upload/46721156475_f02fc75334_s.jpg'%}"
                                                         alt="summer corn soup" width="75" height="75"/></a>
                    </li>
                </ul>
                <br class="clear"/>
            </li>
            <li id="text-14" class="widget widget_text">
                <h2 class="widgettitle">Contact Info</h2>
                <div class="textwidget">
                    <p>
                        <i class="fa fa-map-marker marginright"></i>732/21 Second Street, Manchester, King Street,
                        Kingston United Kingdom
                    </p>
                    <p>
                        <i class="fa fa-phone marginright"></i><a href="tel:+65.4566743">+65.4566743</a>
                    </p>
                    <p>
                        <i class="fa fa-envelope marginright"></i><a href="mailto:info@grandrestauranttheme.com">info@grandrestauranttheme.com</a>
                    </p>
                    <p>
                        <i class="fa fa-globe marginright"></i>grandrestauranttheme.com
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <br class="clear"/>
    <div class="footer_bar_wrapper ">
        <div class="menu-footer-menu-container">
            <ul id="footer_menu" class="footer_nav">
                <li class="menu-item"><a href="about.html">About Us</a></li>
                <li class="menu-item"><a href="our-chefs.html">Our Chefs</a></li>
                <li class="menu-item"><a href="blog.html">News</a></li>
                <li class="menu-item"><a href="services.html">Delivery</a></li>
            </ul>
        </div>
        <div id="copyright">
            © Copyright Grand Restaurant Theme Demo - Theme by ThemeGoods
        </div>
        <br class="clear"/>
        <a id="toTop"><i class="fa fa-angle-up"></i></a>
    </div>
</div>
</div>
