{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="home page-template-default page page-id-2 woocommerce-no-js">

    <div class="ppb_wrapper  ">
        <div class="one fullwidth ">
            <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:#262626;padding:0px;margin-top:0px;margin-bottom:0px;">
                <div id="rev_slider_2_1" class="rev_slider fullwidthabanner tp-overflow-hidden" style="display:none;" data-version="5.4.8">
                    <ul>
                        <li data-index="rs-2" data-transition="zoomin" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="upload/shutterstock_174816359_2-100x50.jpg" data-rotate="0" data-saveperformance="on" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <img src="{% static 'upload/shutterstock_174816359_2.jpg'%}" alt="" title="shutterstock_174816359_2" width="1000" height="702" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <div class="tp-caption title-first-word   tp-resizeme" id="slide-2-layer-1" data-x="90" data-y="center" data-voffset="-50" data-width="auto" data-height="auto" data-type="text" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"","delay":450,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]' data-textAlign="['','','','']" style="z-index: 5; white-space: nowrap;text-transform:left;">Welcome to </div>
                            <div class="tp-caption title   tp-resizeme" id="slide-2-layer-2" data-x="90" data-y="center" data-voffset="10" data-width="auto" data-height="auto" data-type="text" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]' data-textAlign="['','','','']" style="z-index: 6; white-space: nowrap; color: #ffffff;text-transform:left;">Grand<strong>Restaurant</strong> </div>
                            <div class="tp-caption sub-title   tp-resizeme" id="slide-2-layer-3" data-x="90" data-y="center" data-voffset="80" data-width="auto" data-height="auto" data-type="text" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]' data-textAlign="['','','','']" style="z-index: 7; white-space: nowrap; color: #ffffff;text-transform:left;">Making The Delicious Premium Food Since 1990
                                <br/> Book Online Or Call (1800)456-6743 </div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>

            </div>
            <!-- END REVOLUTION SLIDER -->
        </div>

        <div class="one withsmallpadding ppb_header " style="padding-bottom:0 !important;text-align:center;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%%;">
                            <h2 class="ppb_title" style=""><span class="ppb_title_first" >Know</span>About Us</h2>
                            <div class="page_header_sep center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one withsmallpadding ppb_text" style="text-align:center;padding-top: 0 !important;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:60%">
                            <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do</p>
                            <p><span style="font-family:Kristi;font-size:40px;font-weight:600;">John Phillipe</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax title" data-image="{% static 'upload/italian-food-background.jpg'%}" data-width="1000" data-height="667" data-content-height="60">
            <div class="parallax_title">
                <h2 class="ppb_title"><span class="ppb_title_first" >Our</span>Menus</h2></div>
        </div>
        <div class="ppb_portfolio one nopadding " style="padding:0px 0 0px 0;">
            <div class="page_content_wrapper fullwidth">
                <div class="portfolio_filter_wrapper four_cols gallery portfolio-content section content clearfix">
                    <div class="element classic3_cols">
                        <div class="one_fourth gallery4 filterable grid_image static animated1">
                            <div id="portfolio_desc_3196" class="portfolio_desc grid_image portfolio4 filterable ">
                                <div class="grid_image_frame">
                                    <div id="menu_3196" class="menu_content_classic center">
                                        <h5 class="menu_post">
                                            <span class="menu_title">Imported Salmon Steak</span>
                                        </h5>
                                        <div class="post_detail menu_excerpt">Salmon / Veggies / Oil</div>
                                        <br class="clear" />
                                        <br/><span class="menu_price">$18.9</span></div>
                                </div>
                            </div><img src="{% static 'upload/4ccb9fab-c445-4343-884d-3992a6588e98-620x444-400x400-1433934149.jpeg'%}" alt="" /></div>
                    </div>
                    <div class="element classic3_cols">
                        <div class="one_fourth gallery4 filterable grid_image static animated2">
                            <div id="portfolio_desc_3197" class="portfolio_desc grid_image portfolio4 filterable ">
                                <div class="grid_image_frame">
                                    <div id="menu_3197" class="menu_content_classic center">
                                        <h5 class="menu_post">
                                            <span class="menu_title">Baked Potato Pizza</span>
                                        </h5>
                                        <div class="post_detail menu_excerpt">Potato / Bread / Cheese</div>
                                        <br class="clear" />
                                        <br/><span class="menu_price">$12</span>
                                        <div class="menu_highlight"><i class="fa fa-star"></i></div>
                                        <div class="menu_order"><a href="#">Order</a></div>
                                    </div>
                                </div>
                            </div><img src="{% static 'upload/dl_00_01_021-400x400.jpg'%}" alt="" /></div>
                    </div>
                    <div class="element classic3_cols">
                        <div class="one_fourth gallery4 filterable grid_image static animated3">
                            <div id="portfolio_desc_3190" class="portfolio_desc grid_image portfolio4 filterable ">
                                <div class="grid_image_frame">
                                    <div id="menu_3190" class="menu_content_classic center">
                                        <h5 class="menu_post">
                                            <span class="menu_title">Italian Source Mushroom</span>
                                        </h5>
                                        <div class="post_detail menu_excerpt">Mushroom / Garlic / Veggies</div>
                                        <br class="clear" />
                                        <br/><span class="menu_price">$19.9</span>
                                        <div class="menu_order"><a href="#">Order</a></div>
                                    </div>
                                </div>
                            </div><img src="{% static 'upload/7311365-400x400-1433934292.jpg'%}" alt="" /></div>
                    </div>
                    <div class="element classic3_cols">
                        <div class="one_fourth gallery4 filterable grid_image static animated4">
                            <div id="portfolio_desc_3191" class="portfolio_desc grid_image portfolio4 filterable last">
                                <div class="grid_image_frame">
                                    <div id="menu_3191" class="menu_content_classic center">
                                        <h5 class="menu_post">
                                            <span class="menu_title">Fried Potatoes With Garlic</span>
                                        </h5>
                                        <div class="post_detail menu_excerpt">Potatoes / Olive Oil / Garlic</div>
                                        <br class="clear" />
                                        <br/><span class="menu_price">$12</span>
                                        <div class="menu_order"><a href="#">Order</a></div>
                                    </div>
                                </div>
                            </div><img src="{% static 'upload/slide-02_tom-aikens-food-photography-400x400-1433934211.jpg'%}" alt="" /></div>
                    </div>
                    <div class="element classic3_cols">
                        <div class="one_fourth gallery4 filterable grid_image static animated5">
                            <div id="portfolio_desc_3192" class="portfolio_desc grid_image portfolio4 filterable ">
                                <div class="grid_image_frame">
                                    <div id="menu_3192" class="menu_content_classic center">
                                        <h5 class="menu_post">
                                            <span class="menu_title">Tuna Roast Source</span>
                                        </h5>
                                        <div class="post_detail menu_excerpt">Tuna / Potatoes / Rice</div>
                                        <br class="clear" />
                                        <br/><span class="menu_price">$24.5</span>
                                        <div class="menu_highlight"><i class="fa fa-star"></i></div>
                                        <div class="menu_order"><a href="#">Order</a></div>
                                    </div>
                                </div>
                            </div><img src="{% static 'upload/greg-400x400-1433934437.jpg'%}" alt="" /></div>
                    </div>
                    <div class="element classic3_cols">
                        <div class="one_fourth gallery4 filterable grid_image static animated6">
                            <div id="portfolio_desc_3193" class="portfolio_desc grid_image portfolio4 filterable ">
                                <div class="grid_image_frame">
                                    <div id="menu_3193" class="menu_content_classic center">
                                        <h5 class="menu_post">
                                            <span class="menu_title">Roast Pork (4 Sticks)</span>
                                        </h5>
                                        <div class="post_detail menu_excerpt">Pork / Veggies / Shoyu</div>
                                        <br class="clear" />
                                        <br/><span class="menu_price">$15.5</span>
                                        <div class="menu_order"><a href="#">Order</a></div>
                                    </div>
                                </div>
                            </div><img src="{% static 'upload/indian-food-with-chapatti-rice-curries-vegetables-papad-pickle-payasam-f4-400x400-1433934381.jpg'%}" alt="" /></div>
                    </div>
                    <div class="element classic3_cols">
                        <div class="one_fourth gallery4 filterable grid_image static animated7">
                            <div id="portfolio_desc_3194" class="portfolio_desc grid_image portfolio4 filterable ">
                                <div class="grid_image_frame">
                                    <div id="menu_3194" class="menu_content_classic center">
                                        <h5 class="menu_post">
                                            <span class="menu_title">Salted Fried Chicken</span>
                                        </h5>
                                        <div class="post_detail menu_excerpt">Chicken / Olive Oil / Salt</div>
                                        <br class="clear" />
                                        <br/><span class="menu_price">$20</span>
                                        <div class="menu_order"><a href="#">Order</a></div>
                                    </div>
                                </div>
                            </div><img src="{% static 'upload/plae_bistro_ad_food_photography_milwaukee_advertising_photographer_appleton_wisconsin_culinary_photography_retouching_preparation_cuisine_11-400x400-1433934411.jpg'%}" alt="" /></div>
                    </div>
                    <div class="element classic3_cols">
                        <div class="one_fourth gallery4 filterable grid_image static animated8">
                            <div id="portfolio_desc_3195" class="portfolio_desc grid_image portfolio4 filterable last">
                                <div class="grid_image_frame">
                                    <div id="menu_3195" class="menu_content_classic center">
                                        <h5 class="menu_post">
                                            <span class="menu_title">Crab With Curry Sources</span>
                                        </h5>
                                        <div class="post_detail menu_excerpt">Crab / Potatoes / Rice</div>
                                        <br class="clear" />
                                        <br/><span class="menu_price">$24.5</span>
                                        <div class="menu_order"><a href="#">Order</a></div>
                                    </div>
                                </div>
                            </div><img src="{% static 'upload/223_1r140806_eat_spots_sobanndls-400x400-1433934069.jpg'%}" alt="" /></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="one" style="padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%;text-align:center;">
                            <h2 class="ppb_menu_title">Main Course</h2>
                            <br class="clear" />
                            <br/>
                            <div class="one_third ">
                                <div id="menu_3197" class="menu_content_classic">
                                    <h5 class="menu_post">
                                        <span class="menu_title">Baked Potato Pizza</span>
                                        <span class="menu_dots"></span>
                                        <span class="menu_price">$12</span>
                                    </h5>
                                    <div class="post_detail menu_excerpt">Potato / Bread / Cheese</div>
                                    <div class="menu_highlight"><i class="fa fa-star"></i></div>
                                    <div class="menu_order"><a href="#">Order</a></div>
                                </div>
                            </div>
                            <div class="one_third ">
                                <div id="menu_3182" class="menu_content_classic">
                                    <h5 class="menu_post">
                                        <span class="menu_title">Roasted Red Potatoes with Rosemary</span>
                                        <span class="menu_dots"></span>
                                        <span class="menu_price">$15.5</span>
                                    </h5>
                                    <div class="post_detail menu_excerpt">Potatoes / Rosemary / Butter</div>
                                    <div class="menu_highlight"><i class="fa fa-star"></i></div>
                                </div>
                            </div>
                            <div class="one_third last">
                                <div id="menu_3181" class="menu_content_classic">
                                    <h5 class="menu_post">
                                        <span class="menu_title">Black Bean Sweet Potato Quinoa (Meatless)Loaf</span>
                                        <span class="menu_dots"></span>
                                        <span class="menu_price">$12</span>
                                    </h5>
                                    <div class="post_detail menu_excerpt">Bean / Potato</div>
                                </div>
                            </div>
                            <div class="one_third ">
                                <div id="menu_3180" class="menu_content_classic">
                                    <h5 class="menu_post">
                                        <span class="menu_title">Wild Mushroom Bucatini with Kale</span>
                                        <span class="menu_dots"></span>
                                        <span class="menu_price">$14.5</span>
                                    </h5>
                                    <div class="post_detail menu_excerpt">Mushroom / Veggie / White Sources</div>
                                </div>
                            </div>
                            <div class="one_third ">
                                <div id="menu_3179" class="menu_content_classic">
                                    <h5 class="menu_post">
                                        <span class="menu_title">Prawn Sausage Cassoulet</span>
                                        <span class="menu_dots"></span>
                                        <span class="menu_price">$30.5</span>
                                    </h5>
                                    <div class="post_detail menu_excerpt">Prawn / Sausage / Totatos</div>
                                </div>
                            </div>
                            <div class="one_third last">
                                <div id="menu_3178" class="menu_content_classic">
                                    <h5 class="menu_post">
                                        <span class="menu_title">Meatloaf with Black Pepper-Honey BBQ</span>
                                        <span class="menu_dots"></span>
                                        <span class="menu_price">$19.9</span>
                                    </h5>
                                    <div class="post_detail menu_excerpt">Pepper / Chicken / Honey</div>
                                </div>
                            </div>
                            <div class="one_third ">
                                <div id="menu_3177" class="menu_content_classic">
                                    <h5 class="menu_post">
                                        <span class="menu_title">Grilled Hanger Steak with Harissa and Pickled Red Onions</span>
                                        <span class="menu_dots"></span>
                                        <span class="menu_price">$29.9</span>
                                    </h5>
                                    <div class="post_detail menu_excerpt">Beef / Onions / Tomatos</div>
                                </div>
                            </div>
                            <div class="one_third ">
                                <div id="menu_3176" class="menu_content_classic">
                                    <h5 class="menu_post">
                                        <span class="menu_title">Braised Chicken Breast with White Wine and Shallots</span>
                                        <span class="menu_dots"></span>
                                        <span class="menu_price">$24.5</span>
                                    </h5>
                                    <div class="post_detail menu_excerpt">Chicken Breast / Wine</div>
                                </div>
                            </div>
                            <div class="one_third last">
                                <div id="menu_3175" class="menu_content_classic">
                                    <h5 class="menu_post">
                                        <span class="menu_title">Apple Smoked Chicken with White Sauce</span>
                                        <span class="menu_dots"></span>
                                        <span class="menu_price">$18.9</span>
                                    </h5>
                                    <div class="post_detail menu_excerpt">Chicken / Apple / Tomatos</div>
                                    <div class="menu_highlight"><i class="fa fa-star"></i></div>
                                </div>
                            </div>
                            <div class="one_third ">
                                <div id="menu_3174" class="menu_content_classic">
                                    <h5 class="menu_post">
                                        <span class="menu_title">Lemon-Rosemary Chicken</span>
                                        <span class="menu_dots"></span>
                                        <span class="menu_price">$19.9</span>
                                    </h5>
                                    <div class="post_detail menu_excerpt">Chicken / Rosemary / Lemon</div>
                                </div>
                            </div>
                            <div class="one_third ">
                                <div id="menu_3173" class="menu_content_classic">
                                    <h5 class="menu_post">
                                        <span class="menu_title">Grilled Pork with Preserved Lemons</span>
                                        <span class="menu_dots"></span>
                                        <span class="menu_price">$22</span>
                                    </h5>
                                    <div class="post_detail menu_excerpt">Pork / Lemons / Onions</div>
                                    <div class="menu_highlight"><i class="fa fa-star"></i></div>
                                </div>
                            </div>
                            <div class="one_third last">
                                <div id="menu_3172" class="menu_content_classic">
                                    <h5 class="menu_post">
                                        <span class="menu_title">Pork Tenderloin marinated in Yogurt</span>
                                        <span class="menu_dots"></span>
                                        <span class="menu_price">$20</span>
                                    </h5>
                                    <div class="post_detail menu_excerpt">Pork / Tenderloin / Yogurt</div>
                                </div>
                            </div>
                        </div>
                        <br class="clear" />
                    </div>
                </div>
            </div>
        </div>

        <div class="parallax title" data-image="{% static 'upload/Mistral-Restaurant-Amy-Roth-Photo.jpg'%}" data-width="1440" data-height="958" data-content-height="60">
            <div class="parallax_title">
                <h2 class="ppb_title"><span class="ppb_title_first" >Online</span>Reservation</h2></div>
        </div>

        <div class="one withsmallpadding ppb_text" style="padding-top: 30px !important;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%;text-align:center;">
                            <p>Reservation Form Powered by OpenTable
                                <br />1.800.456.6743 – contact@grandrestaurant.com</p>
                            <p>
                                <form name="open_table_form" id="open_table_form" target="_blank" method="POST" action="https://secure.opentable.com/ism/interim.aspx">
                                    <input type="hidden" name="RestaurantID" value="100342">
                                    <input type="hidden" name="txtDateFormat" value="MM/dd/yyyy">
                                    <div class="open_table_field">
                                        <label for="startDate" class="hidden"><i class="fa fa-calendar"></i></label>
                                        <input type="text" class="pp_date required_field" id="startDate" name="startDate" value="05/10/2019" />
                                    </div>
                                    <div class="open_table_field">
                                        <label for="ResTime" class="hidden"><i class="fa fa-clock-o"></i></label>
                                        <input type="text" class="pp_time required_field" id="ResTime" name="ResTime" value="06:00 PM" />
                                    </div>
                                    <div class="open_table_field">
                                        <label for="PartySize" class="hidden"><i class="fa fa-user"></i></label>
                                        <select id="PartySize" name="PartySize" class="required_field">
                                            <option value="1">1 person</option>
                                            <option value="2">2 people</option>
                                            <option value="3">3 people</option>
                                            <option value="4">4 people</option>
                                            <option value="5">5 people</option>
                                            <option value="6">6 people</option>
                                            <option value="7">7 people</option>
                                            <option value="8">8 people</option>
                                            <option value="9">9 people</option>
                                            <option value="10">10 people</option>
                                            <option value="11">11 people</option>
                                            <option value="12">12 people</option>
                                            <option value="13">13 people</option>
                                            <option value="14">14 people</option>
                                            <option value="15">15 people</option>
                                            <option value="16">16 people</option>
                                            <option value="17">17 people</option>
                                            <option value="18">18 people</option>
                                            <option value="19">19 people</option>
                                            <option value="20">20+ people</option>
                                        </select>
                                    </div>
                                    <br class="clear" />
                                    <input id="open_table_submit" type="submit" class="" value="Find a table" />
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c);
                var i = jQuery(window).width(),
                    t = 9999,
                    r = 0,
                    n = 0,
                    l = 0,
                    f = 0,
                    s = 0,
                    h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function(e, f) {
                        f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                    }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height());
                    if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(",");
                        if (c) jQuery.each(c, function(e, i) {
                            u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                        }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                    }
                    f = u
                } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                e.c.closest(".rev_slider_wrapper").css({
                    height: f
                })
            } catch (d) {
                console.log("Failure at Presize of Slider:" + d)
            }
        };
    </script>
    <script>
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
        var htmlDivCss = ".tp-caption.title-first-word,.title-first-word{font-size:60px;line-height:50px;font-family:Kristi;color:#cfa670;text-decoration:none;background-color:transparent;border-width:0px;border-color:rgb(0,0,0);border-style:none;text-shadow:none}.tp-caption.title,.title{font-size:65px;font-weight:300;font-family:Lato;color:rgb(255,255,255);text-decoration:none;background-color:transparent;border-width:0px;border-color:rgb(0,0,0);border-style:none;text-shadow:none;text-transform:uppercase;letter-spacing:-3px}.tp-caption.sub-title,.sub-title{font-size:20px;line-height:24px;font-weight:400;font-family:Lato;color:rgb(255,255,255);text-decoration:none;background-color:transparent;border-width:0px;border-color:rgb(0,0,0);border-style:none;text-shadow:none;text-transform:uppercase;letter-spacing:-1px}";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
    <script type="text/javascript">
        if (setREVStartSize !== undefined) setREVStartSize({
            c: '#rev_slider_2_1',
            gridwidth: [1425],
            gridheight: [700],
            sliderLayout: 'fullwidth'
        });

        var revapi2,
            tpj;
        (function() {
            if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad);
            else onLoad();

            function onLoad() {
                if (tpj === undefined) {
                    tpj = jQuery;
                    if ("on" == "on") tpj.noConflict();
                }
                if (tpj("#rev_slider_2_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_2_1");
                } else {
                    revapi2 = tpj("#rev_slider_2_1").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: "js/plugins/revslider/public/assets/js/",
                        sliderLayout: "fullwidth",
                        dottedOverlay: "none",
                        delay: 7000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            mouseScrollReverse: "default",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                touchOnDesktop: "off",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            }
                        },
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: 1425,
                        gridheight: 700,
                        lazyType: "none",
                        shadow: 0,
                        spinner: "spinner3",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                }; /* END OF revapi call */

            }; /* END OF ON LOAD FUNCTION */
        }()); /* END OF WRAPPING FUNCTION */
    </script>
    <script>
        var htmlDivCss = '  #rev_slider_2_1_wrapper .tp-loader.spinner3 div { background-color: #444444 !important; } ';
        var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement('div');
            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
</div>

{% endblock %}